*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.searchBar{
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap:10px;
  background-color: black;
}

.searchBar input{
  height: 30px;
  width: 30vw;
  padding: 8px;
  font-size: 20px;
}

.searchBar button{
  height: 30px;
  padding: 8px 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

img{
  height: 200px;
  width: 100%;
  border-radius: 5px;
}

.displayImage{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 20px;
  row-gap: 10px ;
  padding: 20px;
}
h3{
  text-align: center;
}

@media screen and (max-width:480px) {
  
  .displayImage{
    grid-template-columns: repeat(2,1fr);
  }
  .searchBar input{
    width: 80vw;
    font-size: 12px;
  }
  .searchBar button{
    width: 15vw;
    font-size: 12px;
    font-weight: bold;
  }

}